{% extends 'base.html' %}


{% block title %}Add Link{% endblock %}
{% block menu %}
<li><a href="#">Категории</a></li>
<li><a href="{{url_for('links')}}">Ссылки</a></li>
<li class="is-active"><a>Новая ссылка</a></li>
{% endblock %}

{% block content %}
<div class="large-3 medium-3 cell">
    <p>Категория:</p>
</div>
<div class="auto cell">
    <form action="" method="post">
        <div class="div-container">
            <div class="grid-x grid-padding-x grid-padding-y">
                <div class="large-3 medium-3 cell">
                    <label>Ссылка:</label>
                    <textarea name="link" rows="2"></textarea>
                </div>
                <div class="large-12 cell">
                    <label>Заголовок:</label>
                    <textarea name="title" rows="2"></textarea>
                </div>
                <div class="large-12 cell text-centre">
                    <input type="submit" class="button success">
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}